h1
{
    color:white;
    font-size: 50pt;
}
h1.subtitle
{
    color:white;
    font-size:20pt;
}
body
{
    background-image: url("images/background.jpg");
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial;
}
div
{
    background: #acaba6;
    color:white
}
img
{
    text-align: center
}
a
{
    font-size:20pt;
}

a:hover
{
    background-color: yellow;
}
